<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="sidenavOpened.set(!sidenavOpened())">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">Soportix</span>
  <span class="spacer"></span>
  <span class="user-info">{{ userRole() | titlecase }}</span>
  <button mat-icon-button (click)="logout()" matTooltip="Cerrar sesión">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    mode="side"
    [opened]="sidenavOpened()"
    class="app-sidenav"
  >
    <mat-nav-list>
      @for (item of filteredNavItems(); track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="content-wrapper">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
